@media (max-width: 1280px){}

@media (max-width: 768px){
    .conteudo1 h1{
        font-size: 80px;
    }
        .conteudo1 p{
        font-size: 15px;
    }
        #p-h2{
        font-size: 40px;
    }
    .conteudo2 h1 {
        font-size: 50px;
    }
    .inf p {
        font-size: 15px;
        padding-top: 50px;
        margin-bottom: 10px;
    }
    .cabesalho img{
        width: 20%;
    }
    .cabesalho h1{
        font-size: 40px;
    }
    .conteudo3 p{
        font-size: 15px;
    }
    .phooto p{
        font-size: 15px;
    }
    .phooto img{
        width: 20%;
    }

}

@media (max-width: 502px){
    .menu a{
        font-size: 10px;
    }
}

@media (max-width: 425px){
    .menu img {
        display: none;
    }
    .menu a{
        font-size: 50%;
        margin-left: 10px;
        margin-right: 35px;
    }
    .conteudo1 h1{
        font-size: 50px;
    }
    .conteudo1 p{
        font-size: 10px;
    }
    #p-h2{
        font-size: 25px;
    }
    .conteudo2 h1{
        font-size: 30px;
    }
    .conteudo2 img{
        width: 10%;
    }
    .inf p {
        font-size: 15px;
        display: block;
        overflow-x: auto;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .cabesalho{
        display: block;
        padding-left: 10px;
    }
    .cabesalho h1{
        padding-left: 20px;
    }
    .cabesalho img, .cabesalho h1{
        width: 40%;
        font-size: 20px;
    }
    .conteudo3{
        display: block;
        padding-left: 10px;
    }
    .conteudo3 p {
        font-size: 13px;
    }
    .phooto{
        display: block;
        padding-left: 10px;
        font-size: 13px;
    }
    .phooto img{
        width: 40%;
    }
}